// Theme Fonts Bold
$regular: 400;
$medium: 500;
$medium2: 600;

// Theme Color variables
$primary: #245f6a;
$text-color: #1a1a1a;
$link-color: #116acc;
$dark-grey: rgba(#1a1a1a, 0.2);
$darken-grey: rgba(#1a1a1a, 0.6);
$light-grey: rgba(#1a1a1a, 0.7);
$input-border: rgba(#1c1819, 0.2);
$input-focus: rgba(#007bff, 0.7);
$input-error: #ff3333;
$input-succes: #28a745;
$white: #ffffff;
$blue: #007bff; 

// Theme border-radius sizes
$small-radius: 4px;
$medium-radius: 8px;
$radius: 100%;