.form-registration {
	position: relative;
	width: 100%;
	height: 100%;
}

.form-registration-group {
	position: relative;
	width: 100%;
	margin-bottom: 28px;

	&__policy {
		width: 100%;
		div {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__policy-label {
		margin-left: 10px;
		font-size: 0.8571rem;
		line-height: 16px;
		color: rgba($text-color, 0.5);
	}

	&__policy-input {
		width: 20px;
		height: 20px;
		border: 1px solid $input-border;
		border-radius: $small-radius;
	}

	&__errors {
		position: absolute;
		bottom: -18px;
		left: 0;
		font-size: 10px;
		line-height: 14px;
		color: $input-error;
		z-index: 2;
	}

	&__errors-images {
		position: absolute;
		top: 50%;
		right: 2%;
		visibility: hidden;
		transform: translateY(-50%);
		transition: all 0.3s;
	}
}

.form-registration-label {
	position: absolute;
	top: -8px;
	left: 10px;
	display: inline-block;
	padding: 0 8px;
	font-size: 0.7143rem;
	line-height: 12px;
	background-color: $white;
	color: $text-color;
	z-index: 2;
}

.form-registration-input {
	position: relative;
	width: 100%;
	min-height: 38px;
	padding: 0 20px;
	border: 1px solid $input-border;
	border-radius: $small-radius;
	outline: none;

	&::placeholder {
		font-size: 0.8571rem;
		line-height: 20px;
		color: rgba($text-color, 0.2);
	}

	&:focus {
		border-color: $input-focus;
	}
}

.form-registration-select {
	width: 100%;
	min-height: 38px;
	padding: 0 15px;
	font-size: 0.8571rem;
	line-height: 20px;
	border: 1px solid $input-border;
	border-radius: $small-radius;
	color: $text-color;
}

.form-registration-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 280px;
	min-height: 40px;
	margin: 40px auto 0 auto;
	background: $link-color;
	color: #fff;
	border: none;
	outline: none;
	border-radius: $small-radius;
	cursor: pointer;

	span {
		display: block;
		margin-left: 10px;
	}
}

.form-registration-group-error {
	.form-registration-input,
	.form-registration-select {
		border: 1px solid $input-error;
	}

	.form-registration-group__errors-images {
		visibility: visible;
	}
}

.form-registration-group-succes {
	.form-registration-input,
	.form-registration-select {
		border: 1px solid $input-succes;
	}
}

.loader {
	border: 4px solid #f3f3f3; /* Light grey */
	border-top: 4px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}
  
@keyframes spin {
	0% { 
		transform: rotate(0deg); 
	}
	100% {
		transform: rotate(360deg); 
	}
}