.social-link {
	position: relative;
	display: flex;
	align-items: center;

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		margin-right: 4px;
		text-decoration: none;

		svg {
			width: 32px;
			height: 32px;
		}
	}
}