@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after, *:active, *:focus, *:hover {
  outline: none;
  outline-offset: 0;
}

html {
  font-size: 14px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: #1a1a1a;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: #116acc;
  text-decoration: none;
}

iframe {
  border: none;
}

.is-mobile {
  display: none;
}

@media screen and (max-width: 1140px) {
  .is-mobile {
    display: block;
  }
}

.desctop-hidden {
  display: none !important;
}

@media screen and (max-width: 860px) {
  .desctop-hidden {
    display: block !important;
  }
}

.text-color-primary {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #245f6a;
}

.page-title {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 30px;
  font-size: 1.2857rem;
  font-weight: bold;
  line-height: 22px;
  border: 1px dashed rgba(26, 26, 26, 0.2);
  background: rgba(26, 26, 26, 0.2);
  color: rgba(26, 26, 26, 0.7);
}

.page {
  margin-bottom: 20px;
}

.page-text {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1429rem;
  line-height: 24px;
  color: rgba(26, 26, 26, 0.8);
}

.page-text__title {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7143rem;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  color: rgba(26, 26, 26, 0.8);
}

.page-button {
  width: 100%;
  max-width: 280px;
  min-height: 40px;
  padding: 12px 0;
  margin: 10px 0 30px;
  font-size: 0.8571rem;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
  background: #007bff;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .page-button:hover {
    opacity: 0.7;
  }
}

.iframe-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.button {
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  z-index: 2;
  cursor: pointer;
}

.button--no-bg {
  width: 100%;
  max-width: 220px;
  margin-top: 30px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button--subscribe {
  width: 100%;
  max-width: 220px;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
  background: #245f6a;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .button--subscribe:hover {
    background: rgba(36, 95, 106, 0.7);
  }
}

.container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

.top-bar {
  position: relative;
  padding-top: 20px;
}

.top-bar__menu {
  width: 24px;
  height: 24px;
}

.top-bar__menu img {
  width: 24px;
  height: 24px;
}

.top-bar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar-phone {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-bar-phone__item {
  display: block;
  margin-left: 20px;
  padding-left: 34px;
  font-size: 1.2857rem;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  background: url("../../assets/images/phone.svg") no-repeat left center;
  color: #1a1a1a;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (min-width: 1300px) {
  .top-bar-phone__item:hover {
    color: #116acc;
  }
}

.top-bar-language {
  margin: 0 auto 0 20px;
}

.top-bar-language__link {
  font-size: 1.1429rem;
  line-height: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (min-width: 920px) {
  .top-bar-language__link:hover {
    opacity: 0.8;
  }
}

.top-bar-language__link--active {
  font-weight: bold;
}

.social-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 4px;
  text-decoration: none;
}

.social-link__item svg {
  width: 32px;
  height: 32px;
}

.header {
  position: relative;
  margin-top: 30px;
}

.header-exhibition-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: block;
  max-width: 197px;
  height: 62px;
  text-decoration: none;
}

.header-exhibition-title {
  max-width: 730px;
  margin-left: 30px;
}

@media screen and (max-width: 1366px) {
  .header-exhibition-title {
    max-width: 550px;
  }
}

.header-exhibition-title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7143rem;
  line-height: 28px;
}

@media screen and (max-width: 1366px) {
  .header-exhibition-title__text {
    font-size: 1.2857rem;
    line-height: 22px;
  }
}

.header-exhibition-title__text::after {
  content: ' ';
  position: relative;
  display: block;
  width: 2px;
  height: 62px;
  margin-right: 20px;
  background-color: #245f6a;
}

.header-exhibition-date {
  position: relative;
  line-height: 26px;
}

.header-exhibition-date__number {
  display: block;
  font-size: 1.5714rem;
  text-align: right;
}

@media screen and (max-width: 1366px) {
  .header-exhibition-date__number {
    font-size: 1.2857rem;
  }
}

.header-exhibition-date__venue {
  display: block;
  font-size: 1.1429rem;
  text-align: right;
}

.header-menu {
  margin: 30px 0;
}

.menu-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  list-style: none;
}

.menu-nav .menu-item {
  font-size: 1.2857rem;
  line-height: 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 3;
}

.menu-nav .menu-item a {
  text-decoration: none;
  color: #1a1a1a;
}

.menu-nav .menu-item:hover .menu-nav__item-link {
  color: #245f6a;
}

@media screen and (max-width: 1260px) {
  .menu-nav .menu-item {
    font-size: 14px;
  }
}

.menu-nav .menu-item .sub-menu {
  position: absolute;
  top: 220%;
  height: 0;
  margin: 0;
  padding: 30px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 13px rgba(26, 26, 26, 0.3);
          box-shadow: 0px 5px 13px rgba(26, 26, 26, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 99;
}

.menu-nav .menu-item .sub-menu li {
  margin-bottom: 20px;
}

.menu-nav .menu-item .sub-menu li:last-of-type {
  margin-bottom: 0;
}

.menu-nav .menu-item .sub-menu li a {
  display: block;
  font-size: 1.1429rem;
  line-height: 20px;
  text-decoration: none;
  color: #1a1a1a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .menu-nav .menu-item .sub-menu li a:hover {
    color: #245f6a;
  }
}

.menu-nav .menu-item .sub-menu::after {
  content: '';
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  padding: 20px;
  z-index: -1;
}

.hero {
  position: relative;
  padding-bottom: 40px;
}

.hero-content__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  min-height: 354px;
  padding: 20px;
  background: rgba(26, 26, 26, 0.6) url("../../assets/images/hero-bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.hero-content__block::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 26, 26, 0.6);
  border-radius: 8px;
  z-index: 0;
}

.hero-content__block-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content__block-timer-number {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  font-size: 2.2857rem;
  line-height: 36px;
  text-transform: lowercase;
  color: #ffffff;
  z-index: 2;
}

@media screen and (max-width: 1420px) {
  .hero-content__block-timer-number {
    font-size: 1.7143rem;
    line-height: 28px;
  }
}

.hero-content__block-timer-number #days {
  margin-right: 5px;
}

.hero-content__block-timer-description {
  display: block;
  margin-left: 3px;
}

.hero-parthners {
  max-width: 540px;
  padding-top: 48px;
}

.hero-parthners .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-parthners__title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  color: #1a1a1a;
}

.hero-parthners__slider-wrapper {
  position: relative;
  max-width: 540px;
}

@media screen and (min-width: 920px) {
  .hero-parthners__slider-wrapper:hover .hero-parthners__swiper-navigation {
    opacity: 1;
  }
}

.hero-parthners__block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-parthners__block-logo img {
  width: 100%;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-parthners__block-logo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16px;
  margin-top: 10px;
  text-align: center;
  color: #1a1a1a;
}

.hero-parthners__swiper-navigation {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}

.hero-parthners__swiper-button-prev, .hero-parthners__swiper-button-next {
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .hero-parthners__swiper-button-prev:hover, .hero-parthners__swiper-button-next:hover {
    opacity: 0.7;
  }
}

.hero-parthners__swiper-button-prev {
  background: url("../../assets/images/arrow-left-short.svg") no-repeat center center/contain;
}

.hero-parthners__swiper-button-next {
  background: url("../../assets/images/arrow-right-short.svg") no-repeat center center/contain;
}

.news-block {
  position: absolute;
  top: 36%;
  right: 1%;
  width: 100%;
  max-width: 630px;
  z-index: 2;
}

.news-block__interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.news-block__interface-link-more {
  display: block;
  padding-left: 34px;
  font-size: 1rem;
  line-height: 20px;
  background: url("../../assets/images/news-more.svg") no-repeat left center/contain;
  color: #ffffff;
}

.news-block__slider-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 630px;
  height: 100%;
}

.news-block__slider-wrapper .swiper {
  max-width: 630px;
  height: 100%;
}

.news-block__slider-wrapper .swiper-wrapper {
  padding-bottom: 50px;
}

.news-block__slider-wrapper .swiper-slide {
  width: 330px;
}

.news-block__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 380px;
  margin-right: 30px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
}

.news-block__card-images {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgba(26, 26, 26, 0.7);
}

.news-block__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 20px 16px;
}

.news-block__card-tag {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 20px;
  color: #1a1a1a;
}

.news-block__card-title {
  max-width: 250px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #1a1a1a;
}

.news-block__card-description {
  max-width: 270px;
  font-size: 0.8571rem;
  line-height: 20px;
  text-overflow: ellipsis;
  color: rgba(26, 26, 26, 0.7);
  white-space: nowrap;
  overflow: hidden;
}

.news-block__card-inter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.news-block__card-link-more {
  display: block;
  max-width: 114px;
  padding-right: 24px;
  font-size: 0.8571rem;
  line-height: 20px;
  background: url("../../assets/images/link-arrow-right.svg") no-repeat right center/contain;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .news-block__card-link-more:hover {
    opacity: 0.5;
  }
}

.news-block__card-date {
  display: block;
  font-size: 0.8571rem;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.7);
}

.news-block__swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 58px;
  margin-right: 12px;
  z-index: 2;
}

.news-block-swiper__button-prev, .news-block-swiper__button-next {
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .news-block-swiper__button-prev:hover, .news-block-swiper__button-next:hover {
    opacity: 0.7;
  }
}

.news-block-swiper__button-prev {
  background: url("../../assets/images/arrow-left.svg") no-repeat center center/contain;
}

.news-block-swiper__button-next {
  background: url("../../assets/images/arrow-right.svg") no-repeat center center/contain;
}

.footer {
  position: relative;
  margin-top: auto;
  padding-bottom: 20px;
}

.footer-exhibition__logo-images {
  max-width: 120px;
  height: 40px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-content__info {
  padding: 0 156px;
  border-left: 2px solid #245f6a;
  border-right: 2px solid #245f6a;
}

.footer-content__info-copyright, .footer-content__info-policy {
  display: block;
  text-align: center;
}

.footer-content__info-copyright {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 22px;
  color: #1a1a1a;
}

.footer-content__info-policy {
  padding-left: 21px;
  font-size: 14px;
  line-height: 20px;
  background: url("/assets/images/policy-lock.svg") no-repeat left center/contain;
  color: #1a1a1a;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (min-width: 920px) {
  .footer-content__info-policy:hover {
    color: #116acc;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.6);
  z-index: 99;
}

.popup-subscribe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.6);
  z-index: 99;
}

.popup-content {
  position: relative;
  width: 100%;
  max-width: 480px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 10px rgba(28, 24, 25, 0.1);
          box-shadow: 0px 2px 10px rgba(28, 24, 25, 0.1);
}

.popup-content-body {
  height: 830px;
}

.popup-content-body-subscribe {
  height: 320px !important;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  background: transparent url("../../assets/images/close.svg") no-repeat center center/contain;
  cursor: pointer;
}

.popup-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.form-registration {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-registration-group {
  position: relative;
  width: 100%;
  margin-bottom: 28px;
}

.form-registration-group__policy {
  width: 100%;
}

.form-registration-group__policy div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-registration-group__policy-label {
  margin-left: 10px;
  font-size: 0.8571rem;
  line-height: 16px;
  color: rgba(26, 26, 26, 0.5);
}

.form-registration-group__policy-input {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(28, 24, 25, 0.2);
  border-radius: 4px;
}

.form-registration-group__errors {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 10px;
  line-height: 14px;
  color: #ff3333;
  z-index: 2;
}

.form-registration-group__errors-images {
  position: absolute;
  top: 50%;
  right: 2%;
  visibility: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-registration-label {
  position: absolute;
  top: -8px;
  left: 10px;
  display: inline-block;
  padding: 0 8px;
  font-size: 0.7143rem;
  line-height: 12px;
  background-color: #ffffff;
  color: #1a1a1a;
  z-index: 2;
}

.form-registration-input {
  position: relative;
  width: 100%;
  min-height: 38px;
  padding: 0 20px;
  border: 1px solid rgba(28, 24, 25, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-registration-input::-webkit-input-placeholder {
  font-size: 0.8571rem;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.2);
}

.form-registration-input:-ms-input-placeholder {
  font-size: 0.8571rem;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.2);
}

.form-registration-input::-ms-input-placeholder {
  font-size: 0.8571rem;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.2);
}

.form-registration-input::placeholder {
  font-size: 0.8571rem;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.2);
}

.form-registration-input:focus {
  border-color: rgba(0, 123, 255, 0.7);
}

.form-registration-select {
  width: 100%;
  min-height: 38px;
  padding: 0 15px;
  font-size: 0.8571rem;
  line-height: 20px;
  border: 1px solid rgba(28, 24, 25, 0.2);
  border-radius: 4px;
  color: #1a1a1a;
}

.form-registration-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 280px;
  min-height: 40px;
  margin: 40px auto 0 auto;
  background: #116acc;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-registration-button span {
  display: block;
  margin-left: 10px;
}

.form-registration-group-error .form-registration-input,
.form-registration-group-error .form-registration-select {
  border: 1px solid #ff3333;
}

.form-registration-group-error .form-registration-group__errors-images {
  visibility: visible;
}

.form-registration-group-succes .form-registration-input,
.form-registration-group-succes .form-registration-select {
  border: 1px solid #28a745;
}

.loader {
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

.mobile-menu__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 10;
}

.mobile-menu__block-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 20px;
  border: none;
  background: transparent url("../../assets/images/close.svg") no-repeat;
  outline: none;
  cursor: pointer;
}

.mobile-menu__block-language {
  position: absolute;
  top: 0;
  left: 0;
  margin: 26px 20px;
}

.mobile-menu__block-language-link {
  font-size: 0.8571rem;
  line-height: 16px;
}

.mobile-menu__block-language-link--active {
  font-weight: bold;
}

.mobile-menu__list {
  padding: 0;
  list-style: none;
}

.mobile-menu__list .menu-item-dop {
  position: relative;
  cursor: pointer;
}

.mobile-menu__list .menu-item-dop::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: url("../../assets/images/arrow-down.svg") no-repeat center center/contain;
}

.mobile-menu__list .menu-item {
  margin-bottom: 20px;
  font-size: 0.8571rem;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
}

.mobile-menu__list .menu-item a {
  color: #1a1a1a;
}

.mobile-menu__list .menu-item .sub-menu {
  max-height: 0;
  overflow: auto;
  -webkit-transition: max-height .5s;
  transition: max-height .5s;
}

.mobile-menu__list .menu-item .sub-menu .menu-item {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.mobile-menu__list .menu-item .sub-menu--active {
  max-height: 100%;
}

.mobile-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  opacity: .75;
}

.mobile-menu--active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.meks_ess {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.meks_ess a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.meks_ess .meks_ess-item {
  margin: 0 !important;
}

.meks_ess .meks_ess-item::before {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}

.meks_ess .socicon-facebook {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.meks_ess .socicon-twitter {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.meks_ess .socicon-linkedin {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.meks_ess .socicon-vkontakte {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.meks_ess .socicon-facebook::before {
  background: #3e5b98 !important;
  color: white !important;
  border-radius: 4px;
}

.meks_ess .socicon-twitter::before {
  background: #4da7de !important;
  color: white !important;
  border-radius: 4px;
}

.meks_ess .socicon-linkedin::before {
  background: #3371b7 !important;
  color: white !important;
  border-radius: 4px;
}

.meks_ess .socicon-vkontakte::before {
  background: #5a7fa6 !important;
  color: white !important;
  border-radius: 4px;
}

.detail-page {
  position: relative;
  padding: 10px 0;
}

.detail-page-content__tag {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  background-color: #245f6a;
  border-radius: 4px;
  color: #ffffff;
}

.detail-page-content__title {
  margin-bottom: 20px;
  font-size: 2.2857rem;
  line-height: 36px;
}

.detail-page-content__additional-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(28, 24, 25, 0.2);
}

.detail-page-content__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.detail-page-content__info {
  width: 100%;
  padding: 20px 0;
}

.detail-page-content__info h2 {
  margin: 10px 0;
}

.detail-page-content__info h4 {
  margin: 10px 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: rgba(26, 26, 26, 0.8);
}

.detail-page-content__info p {
  margin-bottom: 20px;
  font-size: 1.1429rem;
  line-height: 20px;
}

.aside-banner {
  margin-top: 20px;
}

#detail-page-content__aside-right {
  position: relative;
  width: 100%;
  max-width: 300px;
  padding: 20px 0;
}

#detail-page-content__aside-left {
  position: relative;
  min-width: 200px;
  padding: 20px 0;
}

.breadcrumbs {
  position: relative;
  font-size: 0.8571rem;
  line-height: 20px;
}

.breadcrumbs__link--active {
  opacity: 0.8;
}

.share-social {
  position: relative;
}

.share-social__title {
  margin-bottom: 20px;
  font-size: 1.1429rem;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(26, 26, 26, 0.7);
}

.share-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 20px;
  color: #1a1a1a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.share-social__link::before {
  content: '';
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: rgba(28, 24, 25, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 920px) {
  .share-social__link:hover {
    color: #116acc;
  }
}

.share-social__link-vk::before {
  background: rgba(28, 24, 25, 0.2) url("../../assets/images/social/vk.svg") no-repeat center center/contain;
}

.share-social__link-facebook::before {
  background: rgba(28, 24, 25, 0.2) url("../../assets/images/social/facebook.svg") no-repeat center center/contain;
}

.share-social__link-twitter::before {
  background: rgba(28, 24, 25, 0.2) url("../../assets/images/social/twitter.svg") no-repeat center center/contain;
}

.share-social__link-linkedin::before {
  background: rgba(28, 24, 25, 0.2) url("../../assets/images/social/linkedin.svg") no-repeat center center/contain;
}

.similar-posts {
  position: relative;
}

.similar-posts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(28, 24, 25, 0.2);
  color: #1a1a1a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .similar-posts__item:hover .similar-posts__item-title {
    color: #116acc;
  }
}

.similar-posts__item-title {
  margin: 5px 0;
  font-size: 1.1429rem;
  line-height: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.similar-posts__item-description {
  display: block;
  font-size: 0.8571rem;
  line-height: 16px;
  color: rgba(26, 26, 26, 0.7);
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-parthners {
  position: relative;
  padding: 20px 0;
}

.page-parthners-block {
  position: relative;
}

.page-parthners-block__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.page-parthners-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a1a1a;
}

.page-parthners-block__title {
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
  color: #1a1a1a;
}

.page-parthners-block__image {
  width: 180px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-parthners-block__desc {
  display: block;
  max-width: 280px;
  margin: 20px 0;
  text-align: center;
}

.page-media {
  position: relative;
  padding: 20px 0 40px;
}

.page-media-content {
  position: relative;
}

.page-media-content__swiper-news {
  position: relative;
  width: 100%;
  max-width: 350px;
  min-height: 300px;
}

.page-media-content__swiper-news-navigation {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99;
}

.page-media-content__swiper-news-button-prev, .page-media-content__swiper-news-button-next {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .page-media-content__swiper-news-button-prev:hover, .page-media-content__swiper-news-button-next:hover {
    opacity: 0.7;
  }
}

.page-media-content__swiper-news-button-prev {
  background: #ffffff url("../../assets/images/arrow-left-short.svg") no-repeat center center/contain;
}

.page-media-content__swiper-news-button-next {
  background: #ffffff url("../../assets/images/arrow-right-short.svg") no-repeat center center/contain;
}

.page-media-news-card {
  position: relative;
  display: block;
  border-radius: 4px;
}

.page-media-news-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgba(26, 26, 26, 0.6);
  border-radius: 4px;
  z-index: 1;
}

.page-media-news-card__images {
  position: relative;
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.page-media-news-card__title {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 10px 10px 16px;
  font-size: 1.1429rem;
  line-height: 24px;
  color: #ffffff;
  z-index: 3;
}

.page-media-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.page-media-content__news-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}

.page-media-news__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 300px;
  min-height: 340px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .page-media-news__card:hover {
    -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
  }
}

.page-media-news__card-images {
  width: 100%;
  height: 180px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 4px 4px 0 0;
}

.page-media-news__card-title {
  display: block;
  max-width: 250px;
  margin-bottom: 10px;
  padding: 10px 12px 0;
  font-size: 1rem;
  line-height: 22px;
  color: #1a1a1a;
}

.page-media-news__card-description {
  max-width: 270px;
  padding: 0 12px;
  font-size: 0.8571rem;
  line-height: 20px;
  text-overflow: ellipsis;
  color: rgba(26, 26, 26, 0.7);
  white-space: nowrap;
  overflow: hidden;
}

.page-media-news__card-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 12px 20px;
}

.page-media-news__card-link {
  display: block;
  max-width: 140px;
  padding-right: 24px;
  font-size: 0.8571rem;
  line-height: 20px;
  background: url("../../assets/images/link-arrow-right.svg") no-repeat right center;
  background-size: contain;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 920px) {
  .page-media-news__card-link:hover {
    opacity: 0.5;
  }
}

.page-media-news__card-date {
  display: block;
  font-size: 0.8571rem;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.7);
}

@media screen and (max-width: 1420px) {
  .hero-parthners {
    padding-top: 220px;
    margin: 0 auto;
  }
  .hero-parthners__title {
    text-align: center;
  }
  .hero-parthners__swiper-navigation {
    opacity: 1;
  }
}

@media screen and (max-width: 1286px) {
  .hero-content__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .news-block {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .detail-page-content__grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .detail-page-content__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #detail-page-content__aside-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #detail-page-content__aside-right .aside-banner {
    margin: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #detail-page-content__aside-right .similar-posts {
    width: 100%;
  }
  #detail-page-content__aside-right .similar-posts__item:first-child {
    padding-top: 0;
  }
  #detail-page-content__aside-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    border-top: 1px solid rgba(28, 24, 25, 0.2);
    border-bottom: 1px solid rgba(28, 24, 25, 0.2);
  }
  .share-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .share-social__title {
    margin: 0 30px 0 0;
  }
  .share-social__link {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 1140px) {
  .top-bar-language {
    display: none;
  }
  .logo {
    max-width: 100px;
    min-height: 42px;
  }
  .header-exhibition-title {
    max-width: 450px;
  }
  .header-exhibition-title__text {
    font-size: 1rem;
  }
  .header-exhibition-date__number {
    font-size: 1rem;
  }
  .header-exhibition-date__venue {
    font-size: 0.8571rem;
  }
  .menu-nav {
    display: none;
  }
  .footer-content__info {
    padding: 0 60px;
  }
}

@media screen and (max-width: 860px) {
  .logo {
    max-width: 120px;
    min-height: 40px;
  }
  .header-exhibition-title {
    display: none;
  }
  .header-exhibition-title__text {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
  }
  .header-exhibition-title__text::after {
    display: none;
  }
  .header-exhibition-date {
    font-size: 14px;
    line-height: 18px;
  }
  .hero-parthners {
    padding-top: 220px;
  }
  .hero-parthners {
    padding-top: 260px;
  }
  .news-block {
    top: 45%;
    max-width: 300px;
  }
  .news-block__slider-wrapper {
    max-width: 300px;
  }
  .news-block__slider-wrapper .swiper {
    max-width: 300px;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 720px) {
  #detail-page-content__aside-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #detail-page-content__aside-right .aside-banner {
    margin: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #detail-page-content__aside-right .similar-posts {
    width: 100%;
  }
  #detail-page-content__aside-right .similar-posts__item:first-child {
    padding-top: 0;
  }
  #detail-page-content__aside-left .share-social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #detail-page-content__aside-left .share-social__title {
    width: 100%;
    margin-bottom: 20px;
  }
  #detail-page-content__aside-left .share-social__link {
    margin-bottom: 20px;
  }
  .page-media-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .top-bar-phone__item {
    padding-left: 0;
    background: none;
  }
  .detail-page-content__additional-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 575px) {
  .top-bar-phone__item {
    margin-left: 0;
    padding-left: 0;
    font-size: 0.8571rem;
    line-height: 16px;
    background: none;
  }
  .top-bar-phone__item:last-of-type {
    display: none;
  }
  .social-link__item {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  .social-link__item:last-of-type {
    margin-right: 0;
  }
  .social-link__item svg {
    width: 24px;
    height: 24px;
  }
  .hero-content__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 250px;
  }
  .hero-content__block-timer-number {
    font-size: 16px;
    line-height: 20px;
  }
  .hero-content__block-timer-number:last-of-type {
    margin-right: 0;
  }
  .hero-parthners {
    padding-top: 320px;
  }
  .footer-content__info {
    padding: 0;
    border: none;
  }
  .footer-content__info-copyright {
    font-size: 14px;
    line-height: 18px;
  }
  .page-media-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-media-content__news-grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .hero-content__block-timer-number {
    font-size: 14px;
    line-height: 18px;
  }
  .news-block {
    max-width: 260px;
  }
  .news-block__slider-wrapper {
    max-width: 260px;
  }
  .news-block__slider-wrapper .swiper {
    max-width: 260px;
  }
  .news-block__card {
    width: 260px;
    height: 360px;
    margin-right: 0;
  }
  .news-block__card-tag {
    font-size: 12px;
  }
  .news-block__card-title {
    font-size: 14px;
  }
  .hero-parthners {
    padding-top: 300px;
  }
  .hero-parthners__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  #detail-page-content__aside-right {
    min-width: 280px;
  }
}
/*# sourceMappingURL=main.css.map */